h1 {
    font-family: "Fira Code", monospace;
    color: rgb(73, 145, 76);
    display: inline-block;
    border: 2px solid rgb(73, 145, 76);
    width: auto;
    padding: 0.86vw;
}

body {
    font-family: "Fira Code", monospace;
    font-size: 0.86vw;
    color: rgb(73, 145, 76);
    background-color: rgba(10, 10, 10, 1);
}

a {
    font-family: "Fira Code", monospace;
    color: rgb(73, 145, 76);
}

.linkButton {
    font-family: "Fira Code", monospace;
    color: rgb(73, 145, 76);
    border: 2px solid rgb(73, 145, 76); 
    margin: 2px;
    padding: 1px;
}
