h1 {
    font-family: "Monaco", monospace;
    color: white;
    display: inline-block;
    border: 2px solid white;
    width: auto;
    padding: 20px;
}

body {
    font-family: "Monaco", monospace;
    color: white;
    background-color: rgba(35, 39, 42, 1);
}

a {
    font-family: "Monaco", monospace;
    color: white;
}

.linkButton {
    font-family: "Monaco", monospace;
    color: white;
    border: 2px solid white; 
    margin: 2px;
    padding: 1px;
}
