h1 {
    font-family: "Monaco", monospace;
    color: rgb(73, 145, 76);
    display: inline-block;
    border: 0.3vw solid rgb(73, 145, 76);
    width: auto;
    padding: 1.2vw;
    font-style: italic;
}

body {
    font-family: "Monaco", monospace;
    font-size: 0.86vw;
    color: rgb(73, 145, 76);
    background-color: rgba(10, 10, 10, 1);
}

a {
    font-family: "Monaco", monospace;
    color: rgb(73, 145, 76);
}

.linkButton {
    font-family: "Monaco", monospace;
    color: rgb(73, 145, 76);
    border: 0.2vw solid rgb(73, 145, 76); 
    margin: 0.3vw;
    padding: 0.15vw;
}

.linkButton:hover {
    font-family: "Monaco", monospace;
    color: rgb(115, 228, 118);
    border: 0.2vw solid rgb(115, 228, 118); 
    margin: 0.3vw;
    padding: 0.15vw;
}

.linkButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.linkButton span:after {
    content: "⇒";
  position: absolute;
  opacity: 0;
  top: 0; 
  transition: 0.5s;
}

.linkButton:hover span {
  padding-right: 1vw;
}

.linkButton:hover span:after {
  opacity: 1;
  right: 0;
}
